In [1]:
import pandas as pd
import numpy as np
import os
import json

JSON_FILE = 'D:\Documents\Education\Diploma Competitions\Splash Awards 2020\SignQuest-SignTranslator\input\WLASL_v0.3.json'
OUTPUT_FILE = 'D:\Documents\Education\Diploma Competitions\Splash Awards 2020\SignQuest-SignTranslator\output\WLASL.csv'

In [2]:
JSON_FILE

'D:\\Documents\\Education\\Diploma Competitions\\Splash Awards 2020\\SignQuest-SignTranslator\\input\\WLASL_v0.3.json'

In [3]:
OUTPUT_FILE

'D:\\Documents\\Education\\Diploma Competitions\\Splash Awards 2020\\SignQuest-SignTranslator\\output\\WLASL.csv'

In [12]:
data = pd.read_json(JSON_FILE, 'values')
data

           gloss                                          instances
0           book  [{'bbox': [385, 37, 885, 720], 'fps': 25, 'fra...
1          drink  [{'bbox': [551, 68, 1350, 1080], 'fps': 25, 'f...
2       computer  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
3         before  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
4          chair  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
...          ...                                                ...
1995  washington  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
1996   waterfall  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
1997       weigh  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...
1998  wheelchair  [{'bbox': [415, 86, 1811, 1080], 'fps': 25, 'f...
1999     whistle  [{'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_...

[2000 rows x 2 columns]

In [19]:
data['instances'] = pd.DataFrame.from_records(data['instances'])
data

           gloss                                          instances
0           book  {'bbox': [385, 37, 885, 720], 'fps': 25, 'fram...
1          drink  {'bbox': [551, 68, 1350, 1080], 'fps': 25, 'fr...
2       computer  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
3         before  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
4          chair  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
...          ...                                                ...
1995  washington  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
1996   waterfall  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
1997       weigh  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...
1998  wheelchair  {'bbox': [415, 86, 1811, 1080], 'fps': 25, 'fr...
1999     whistle  {'bbox': [0, 0, 360, 240], 'fps': 25, 'frame_e...

[2000 rows x 2 columns]

In [26]:
pd.DataFrame.from_records(data['instances'])

,bbox,fps,frame_end,frame_start,instance_id,signer_id,source,split,url,variation_id,video_id
0,"[385, 37, 885, 720]",25,-1,1,0,118,aslbrick,train,http://aslbricks.org/New/ASL-Videos/book.mp4,0,69241
1,"[551, 68, 1350, 1080]",25,-1,1,0,115,aslbrick,val,http://aslbricks.org/New/ASL-Videos/drink.mp4,0,69302
2,"[0, 0, 360, 240]",25,5181,5122,0,9,asl5200,test,https://www.youtube.com/watch?v=PPmQd2zWdP0,0,12306
3,"[0, 0, 360, 240]",25,1779,1733,0,9,asl5200,train,https://www.youtube.com/watch?v=pDqITge_TGs,0,05724
4,"[0, 0, 360, 240]",25,1889,1830,0,9,asl5200,test,https://www.youtube.com/watch?v=PPmQd2zWdP0,0,09847
...,...,...,...,...,...,...,...,...,...,...,...
1995,"[0, 0, 360, 240]",25,667,588,0,9,asl5200,test,https://www.youtube.com/watch?v=A5dihMAjeTE,0,62384
1996,"[0, 0, 360, 240]",25,876,764,0,9,asl5200,test,https://www.youtube.com/watch?v=A5dihMAjeTE,0,62487
1997,"[0, 0, 360, 240]",25,1550,1498,0,9,asl5200,test,https://www.youtube.com/watch?v=A5dihMAjeTE,0,62781
1998,"[415, 86, 1811, 1080]",25,-1,1,2,4,signschool,test,https://signstock.blob.core.windows.net/signsc...,0,63044
1999,"[0, 0, 360, 240]",25,2111,2055,0,9,asl5200,test,https://www.youtube.com/watch?v=A5dihMAjeTE,0,63185